/* ==========================================================================
   Custom
   ========================================================================== */

/* Colors */
$background-color: #F5F5DC !default;
$text-color: #979797 !default;
$muted-text-color: $text-color !default;
$primary-color: #E0ECF8 !default;
$border-color: mix(#fff, #393e46, 75%) !default;
$footer-background-color: $primary-color !default;
$link-color: #6E6E6E !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: mix(#6E6E6E, $text-color, 80%) !default;


.page__footer {
  color: #757575 !important; // override
}

.page__footer-follow .social-icons .svg-inline--fa  {
  color: inherit;
}
